<%= form_with(model: [:admin, post]) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-6">
    <div class="mb-4">
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-4">
      <%= form.label :content, style: "display: block" %>
      <%= form.text_area :content, class: "form-control" %>
    </div>

    <div class="mb-4">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

    <div class="mb-4">
      <%= form.label :category_id, 'Category', style: 'display: block' %>
      <%= form.collection_select :category_id, @categories, :id, :name, { prompt: 'Select a Category'} ,{ class: "form-select" } %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
