<!DOCTYPE html>
<html>
  <head>
    <title>Api</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <%= render "layouts/shared/admin_nav" %>
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <%= render "layouts/shared/admin_header" %>
          <div class="container-fluid">
              <%= yield %>
          </div>
        </div>
      </div>
        <!-- End of Main Content -->
      <%= render "layouts/shared/admin_footer" %>
    </div>
  </body>
</html>
